@font-face {
    font-family: Nord-Medium;
    src: url("../assets/Fonts/Nord-Medium.otf") format(opentype);
}

@font-face {
    font-family: LaachirDeeper;
    src: url("../assets/Fonts/LaachirDeeper-Regular.ttf") format(truetype);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: Nord-Medium !important;
}

.fadeInPage {
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-color: black !important;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        background-color: black !important; /* or any other color */
    }
}

body::-webkit-scrollbar{
    display: none;
  }

.stillBackground{
    background-image: url('../assets/Images/WebBackground3.png'); 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size: cover;
}

a {
    text-decoration: none !important;
}


a:visited,
a:link {
    color: inherit;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navigationbar {
    display: flex;
    align-items: center ;
    justify-content: space-between ;
    padding: 30px ;
    background-color: rgb(0, 0, 0);
    color: #fff;
    position: fixed ;
    z-index: 3;
    width: 100%;

}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-family: Nord-Medium;
    font-size: 24px;
    letter-spacing: 5px;
    color: #fff;
}

.logo a ,.logo a:hover, .loginBtn a, .navigationbar a, .navigationbar a:hover{
    text-decoration: none !important;
    color: inherit;
}

.logo a:visited,
.logo a:link, .loginBtn a:link {
    color: inherit;
    text-decoration: none;
}

.logo.login {
    background: none;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    height: auto;
}
/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
    transition: 0.3s ease;
}

.sticky {
    position: relative;
}

.dropdown {
    background-color: black;
    padding: 1em 1em;
    position: absolute;
    display: none;
    border-radius: 8px;
}

.dropdown li+li {
    margin-top: 10px;
}

.dropdown li {
    padding: 0.5em 0.5em;
    width: auto;
    text-align: center;
}

.dropdown li:hover {
    background-color: rgb(56, 56, 56);
}

.spotlight-holder {
    position: static;
}

.spotlight-dark,
.spotlight-light {
    position: absolute;
    background-size: cover;
    background-position: center;
    resize: both;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
}

.spotlight-light {
    mask-image: url();
    /*just to shut the warning*/
    -webkit-mask-image: radial-gradient(circle at -10% 50%, #fff 5em, transparent 30em);
    z-index: 1;
}

.overlaytext {
    position: absolute;
    color: white;
}

.bottomTitle {
    width: 70%;
    padding-left: 3em;
    padding-bottom: 5vh;
    bottom: 0;
}

.rightTitle {
    right: 0;
    bottom: 0;
    text-align: right;
    padding-right: 3em;
    padding-bottom: 20vh;
    width: 50%;
}

.leftTitle {
    left: 0;
    bottom: 0;
    text-align: left;
    padding-left: 3em;
    padding-bottom: 20vh;
    width: 50%;
}

.centerTitle {
    width: 100%;
    text-align: center;
    padding: 5vh 5vw;
}

.overlaytext h1 {
    font-size: 4rem;
}

.overlaytext h4 {
    letter-spacing: 10px;
    font-size: 2rem;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
    padding-top: 105vh;
    padding-bottom: 5vh;
    padding-left: 5vh;
    padding-right: 5vh;

    display: flex;
    justify-content: space-between;
}

.section {
    padding-top: 100vh;
}

.invert {
    filter: invert(1);
}

/*RESPONSIVE NAVBAR MENU*/


input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

.login {
    background-color: black;
    background-size: cover;
    background-position: center;
    resize: both;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.formHolder {
    font-family: Nord-Medium;
    letter-spacing: 2px;
    border-radius: 20px;
    vertical-align: top;
    width: 400px;
    height: 400px;
    background-color: #ffffff09;
    color: white;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 2em 2em;
    display: table;
}

.formHolder.customer-care {
    width: 800px;
    max-width: 90%;
}

.formHolder input, textarea, select, option {
    font-family: LaachirDeeper !important;
    font-size: larger;
    width: 100%;
    padding: 10px 14px;
    background-color: #00000086;
    border: none;
    border-radius: 5px;
}

.formHolder input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgba(0, 0, 0) inset; 
    -webkit-text-fill-color: #ffffff;
}
.formHolder input:-webkit-autofill:focus {
    -webkit-text-fill-color:  white;
}

.formHolder input[type="file"]::file-selector-button {
    font-family: LaachirDeeper !important;
    font-size: smaller;
    color: white;
    margin-right: 20px;
    border: 2px solid #a5a5a5;
    background-color: #ffffff00;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .formHolder input[type="file"]::file-selector-button:hover {
    color: black;
    background-color: #ffffff;
    border: 2px solid #888888;
  }

.formHolder label {
    padding-bottom: 5px;
}

.formHolder .warning {
    display: none;
    background-color: rgba(255, 37, 37, 0.13);
    font-weight: lighter;
    letter-spacing: 0px;
    font-size: smaller;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    text-align: center;

    word-wrap:break-word; 
    white-space: pre-wrap;
}

.formHolder div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.formHolder p{
    text-align: center;
    font-size: smaller;

}
.loginBtn.submit {
    background-color: rgba(107, 107, 107, 0.308);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginBtn.submit:hover {
   background-color: rgba(241, 241, 241, 0.644);
   color: black;
}

.loginBtn.cancel {
    background-color: rgba(192, 0, 0, 0.308);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginBtn.cancel:hover {
   background-color: rgba(190, 0, 0, 0.644);
   color: black;
}


.loginBtn:hover {
    background-color: rgba(255, 255, 255, 0.281);
    color: black;
    transition: 0.3s ease;

}

.loginBtn {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px 14px;
    border-radius: 5px;
    border: none;
}

.loginBtn a:hover{
    color: black;
}

.products {
    margin: 1.5% 5%; 
   
}

.products .card, .adminCard{
    position: relative;
    background-color:rgb(255, 255, 255); 
    height: 500px;
    min-width: 250px;
    border-radius: 15px; 
    padding: 15px 25px;
    margin: 15px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.products .card img{
    width: auto;
    height: 65%;
    object-fit: contain;
    margin-left: auto; 
    margin-right: auto;
}

.products .card .btn{
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}

.products .card .buy{
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    transition: 0.3s ease;
}

.products .card .buy:hover{
    background-color: rgba(85, 143, 83, 0.781);
    color: white;
    transition: 0.3s ease;
}


.products .card .cart{
    background-color: rgba(0, 0, 0, 0.075);
    transition: 0.3s ease;
    float: right;
}

.products .card .cart:hover{
    background-color: rgba(0, 0, 0, 0.205);
    transition: 0.3s ease;
}

.products form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 12px;;
    font-size: larger;
}

.products input {
    background-color: rgba(255, 255, 255, 0.103);
    border-radius: 30px;
    height: 40px;
    width: 100%;
    padding: 30px;
    border: none;
    color: white;
}

.adminCard{
    transform: scale(1.00);
    transition: 0.5s;
}

.adminCard:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 30px rgba(126, 126, 126, 0.514);
    color: black;
}

.cardHolder:last-of-type{
margin-bottom: 100px;
}

.card {
    transition: 0.2s;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer ;
}

.myTable {
    border-collapse: separate;
    border-spacing: 0px 20px;
    color: black;
}

.myTable tbody,
thead {
    background-color: white;
}

.myTable td,
th {
    vertical-align: middle !important;
    border-top: 0 !important;
}

.myTable td:first-child,
th:first-child {
    border-radius: 20px 0 0 20px;
    padding-left: 30px !important;
}

.myTable td:last-child,
th:last-child {
    border-radius: 0 20px 20px 0;
}

.notification{
    background-color: green; 
    border-radius: 10px;
    color: white; 
    position: fixed; 
    bottom: 3%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 100; 
    opacity: 0;
    pointer-events: none;
}

.fadeInOut{
    animation-name: notification;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes notification {
    0%{
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: black;
        right: 0;
        left: 0;
        text-align: center;
        padding: 50px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: rgb(56, 56, 56);
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 50px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }

    .dropdown li:hover {
        background-color: rgb(56, 56, 56);
    }

    .overlaytext {
        position: absolute;
        color: white;
    }

    .bottomTitle {
        width: 70%;
        padding-left: 3em;
        padding-bottom: 5vh;
        bottom: 0;
    }

    .rightTitle {
        position: relative;
        right: 0;
        text-align: right;
        width: 100%;
        padding-top: 50%;
    }

    .leftTitle {
        position: relative;
        left: 0;
        text-align: left;
        width: 100%;
        padding-top: 50%;
    }

    .centerTitle {
        position: relative;
        padding-top: 50%;
        color: white;
        width: 100%;
        text-align: center;
    }

    .footer {
        background-color: black;
        color: white;
        padding-top: 5vh;
        padding-bottom: 5vh;
        padding-left: 5vh;
        padding-right: 5vh;

        display: flex;
        justify-content: space-between;
    }


    .overlaytext h1 {
        font-size: 3rem;
    }

    .overlaytext p {
        letter-spacing: 0px !important; 
        line-height: 25px !important;
    }

    .overlaytext h4 {
        letter-spacing: 10px;
        font-size: 1.3rem;
    }

    .spotlight-light {
        display: none;
    }

    .spotlight-dark {
        position: initial;
    }

    .section {
        padding-top: 0;
    }

    .products {
        margin: 10px; 
    }


   
}

